<!doctype html>
<html lang="en">
    <!-- используем функцию из EJS - include - и передаём в неё "паршиал" (кусочек .ejs - что-то типа шаблона) -->
    <%- include('./partials/head'); %>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1>Main Page</h1>
    </div>
</body>
</html>